//This file should be copied to config.js with your particular settings
var config = {};

config.partition = "aws"; //This shouldn't need to change
config.region = "us-east-1";
config.accountId = "000000000";



module.exports = config;
